*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

a {
    all: unset; 
}

ul {
    list-style-type: none;
}

.logo_bar {
    width: 106px;
    height: 37px;
    display: flex;
    align-items: center;
} 

header {
    width: 1440px;
    height: 75px;
    padding-left: 155px;
    padding-top: 15px;
    padding-right: 155px;
    display: flex;
    flex-direction: row;
    align-items:start;
    gap: 37px;
    margin-bottom: 81px;
}

.logo_bar_name {
    width: 65.75px;
    height: 20.92px;
}

.nav_bar {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

nav {
    width: 1000px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 403px
}

li {
    height: 30px;
    line-height: 30px;
}

.Sign_bar_sign {
    width: 89px;
    height: 36px;
    border: none;
    background: none;
    color: #0070A0
}

.Sign_bar_demo {
    width: 139px;
    height: 36px;
    border:none;
    color:white;
    background-color:#0070A0;
    
}

.first_list_block {
    padding-left: 155px;
    display: flex;
    flex-direction: row;
    padding-right: 155px;
    align-items: center;
    margin-bottom: 102px
}

.first_list_block_header {
    margin-bottom: 21px;
}

.first_list_block_article {
    margin-bottom: 32px;
}

.first_list_block_button_bar {
    display: flex;
    flex-direction: row;
    align-items:center
}

.first_list_block_book {
    width: 174px;
    height: 43px;
    margin-right: 24px;
}

.first_list_block_learn {
    border:none;
    background: none;
    color: #0070A0;
    margin-right: 3px;
}

.first_list_block_text {
    margin-right: 170.38px;
}

/* низ первой страницы */

.reputation {
    width: 100%;
    height: 96.81px;
    display: flex;
    flex-direction: column;
    gap: 23.58px;
    margin-bottom: 160px;
}

.reputation_logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 120px;
    padding-right: 120px;
    gap: 60px;
}

.reputation_paragraph {
    text-align: center;
}

.multicolored_blocks {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 33px;
    justify-content: center;
    margin-bottom: 198.61px;
    padding-left: 155px;
    padding-right: 155px;
}

.multicolored_blocks-Yellow_block {
    background-color: #FAEA73;
    width: 355px;
    padding-top: 32px;
    padding-left: 32px;
}

.multicolored_blocks-Blue_block {
    width: 355px;
    height: 250px;
    background-color: #CCEFF6;
    padding-top: 32px;
    padding-left: 32px;
}

.multi-colored_blocks-Pink_block {
    width: 355px;
    height: 250px;
    background-color: #F7CEDC;
    padding-top: 32px;
    padding-left: 32px;
}

span {
    font-weight: 400;
    font-size: 25px;
}

/* Вторая страница */

.second_list {
    display: flex;
    flex-direction: row;
    margin-bottom: 225.5px;
}

.second_list_header {
    margin-bottom: 61.61px;
    width: 650px;
}

.second_list {
    padding-left: 155px;
}

.second_list_block-list {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
}

.second_list_block-list-first_point {
    width: 450px;
    height: 157px;
    display: flex;
    padding-left: 15.99px;
    padding-top: 17px;
    flex-direction: column;
    align-items: center;
}

.second_list_block-list-first_point_image {
    margin-right: 16px;
}

.second_list_block-list-first_point_header {
    margin-right: 149px;
}

.second_list_block-list-first_point_logo_and_header{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.second_list_block-list-first_point_text {
    width: 363px;
    padding-left: 37px;
}

hr {
    border:none;
    border-top: 1px solid #C2CDD8;
    width: 449.83px;
}

.second_list_line {
    margin-bottom: 0.89px;
}

.second_list_block-list-second_point {
    width: 450px;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    color: #626A72
}

.second_list_block-list-second_point_header {
    margin-right: 215.83px;
}

.second_list_block-list-second_point_logo {
    margin-right: 16px;
}

.second_list_block-list-third_point {
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 64px;
    align-items: center;
    justify-content: center;
    color: #626A72;
}

.second_list_block-list-third_point_logo {
    margin-right: 16px;
}

.second_list_block-list-third_point_text {
    margin-right: 215.83px;
}

.second_list_block-list-fourth_point{
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 64px;
    align-items: center;
    justify-content: center;
    color: #626A72;
}

.second_list_block-list-fourth_point_logo {
    margin-right: 22.55px;
}

.second_list_block-list-fourth_point_header {
    margin-right: 215.83px;
}

.second_list_block-list_and_header {
    width: 650px;
}

.second_list_image {
    width: 481px;
    height: 479px;
}

/* Блок About */

.second_list_about {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 155px;
    padding-right:155px ;
    margin-bottom: 119px;
}

.second_list_about_header {
    width: 300px;
    height: 218px;
    margin-right: 135px;
}

.second_list_about_list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.about_block {
    width: 222.66px;
    height: 218px;
}

.about_block_header {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 11px;
}

.second_list_about_first-point {
   padding-top: 62.61px;

}

.second_list_about_img {
    margin-bottom: 17px;
}

/* Третья страница - с заливкой синим */

.third_list {
    width: 100%;
    background-color:#0070A0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    padding-left: 155px;
    padding-top: 80px;
    margin-bottom: 120px;
}

.third_list_block-text_header-text_header {
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 42px;
}

.third_list_block-text_header-text_paragraph {
    margin-bottom: 16.88px;
    font-weight: 400;
    font-size: 18px;
}

.third_list_block {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 8px;
}

.third_list-image {
    margin-right: 187px;
}

.third_list_block-text-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 27px;
}

.third_list_block-text_button {
    width: 176px;
    height: 43px;
    background-color: #0070A0;
    color: #FFFFFF;
    border: none;
}

/* 4 страница */

.fourth_list {
    padding-left: 155px;
}

.fourth_list-benefits {
    height: 218px;
    display: flex;
    flex-direction: row;
}

.fourth_list-top_text {
    margin-bottom: 65.36px;
}

.fourth_list-top_text-header {
    margin-bottom: 18px;
    font-weight:400;
    font-size: 42px;
}

.fourth_list-top_text-paragraph {
    font-size: 18px;
}

.fourth_list-benefits_first-point-image {
    margin-bottom: 7px;
}

.fourth_list-benefits_first-point-header {

}

.fourth_list-benefits-header {
    font-size: 18px;
    margin-bottom: 11px;
}

.fourth_list-benefits-image {

}

.fourth_list-benefits-blocks {
    width: 234.5px;
    height: 218px;
}
